* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}


.layout{
    display: grid;
    grid-template-columns: 20% 80%;
    height: 100vh;
}

aside{
    background-color: #f1f4f8;
    padding: 40px;
}

main{
    background-color: #dcdcdc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.template{
    background-color: rgb(255, 255, 255);
    height: 600px;
    width: 750px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.templatefake {
    margin-top: 50px;
  width: 80%;
  max-width: 600px;
  height: 70px;
  background:
    linear-gradient(#ddd 0 0) 0 0 / 100% 12px no-repeat,
    linear-gradient(#ddd 0 0) 0 20px / 100% 12px no-repeat,
    linear-gradient(#ddd 0 0) 0 40px / 100% 12px no-repeat,
    linear-gradient(#ddd 0 0) 0 60px / 70% 12px no-repeat;

}

.templateHeader{
    background-color: #4d6175;
    height: 8%;
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.templatebody{
    display: flex;
  align-items: flex-end;   
  justify-content: center; 
  height: 100%;            
  padding-bottom: 60px;
}

.campo{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

input{
    margin-top: 10px;
    height: 30px;
}

.site{
    background: linear-gradient(to right, #0085ca, #00D7A4);
    padding: 5px 10px ;
    border-radius: 80px;

}


button{
    color: #ffffff;
    font-weight: 700;
    width: 180px;
    height: 50px;
    margin-top: 60px;
    background: linear-gradient(to right, #0085ca, #00D7A4);
    border: none;
     padding: 5px 10px ;
    border-radius: 80px;
}

